
 
.button{
    width: 50%;
    background-color: aqua;
    border-radius: 5px;
    background: aqua;
    padding: 20px;
    border:none;
}
.load_cont{
  content: '';
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

}
.load{
  position: absolute;
  
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: animate 0.5s linear infinite;
  z-index: 10;
}
.load span{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.load span:nth-child(1){
  filter: blur(5px);
}
.load span:nth-child(2){
  filter: blur(10px);
}
.load span:nth-child(3){
  filter: blur(25px);
}
.load span:nth-child(4){
  filter: blur(50px);
}
.load::after{
  content: '';
  position: absolute;
  top:10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: black;
  border-radius: 50%;
}

.timer{
  position: fixed;
  top:50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  color:white;
  z-index: 11;
}
.body{
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
  position: fixed;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  
}
.bg{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: blue;
  width: 60vw;
  height: 60vh;
  z-index: 1;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  padding: 5%;
  color:white;
}
.bg button{
  background-color: springgreen;
  border: none;
  padding: 10px;
  border-radius: 4px;
}
h1, h2, h3, h4 ,h5{
  font-weight: 800;
}
p{
  width: 50%;
  font-size: 17px;
}
.box_conteiner{
  width: 60vw;
  height: 20vh;
  background:#f1f1f1;
  z-index: 2;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  display: flex;
  padding: 5%;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  gap: 25px;
}
.box_conteiner a{
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: none;
  width: 50px;
  height: 50px;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
  border-radius: 50%;
  background-color: #f6f6f6;
  
}
.box_conteiner a svg{
  font-size: 25px;
  fill:#888;
  width: 25px;
  
}
.box_conteiner a:hover svg:nth-child(1){
  font-size: 50px;
  fill:#0088cc;
  width: 50px;
  transition: 0.3s;
  
}

.box_conteiner a:nth-child(2):hover svg:nth-child(1){
  font-size: 40px;
  fill:#dd2a7b;
  width: 40px;
  transition: 0.3s;
  
}
.box_conteiner a:nth-child(3):hover svg:nth-child(1){
  font-size: 40px;
  fill:#738adb;
  width: 40px;
  transition: 0.3s;
  
}
.box_conteiner a:nth-child(4):hover svg:nth-child(1){
  font-size: 40px;
  fill:#25d366;
  width: 40px;
  transition: 0.3s;
  
}
.form_cont{
  width: 25vw;
  height: 70vh;
  background-color: white;
  position: absolute;
  z-index: 3;
  transform: translate(60%);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  padding: 2%;
}
.form_cont textarea{
  height: 28vw;
  max-height: 130px;
  box-sizing: border-box;
}
.form_cont div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
select{
  padding: 10px;
}
.form{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  gap: 10px;
  

}
.buttons a{
  background-color: #25d366;
  color:white;
  font-weight: 500;
  text-decoration: none;
  padding: 14px 10px;
  border-radius: 5px;
}
.form textarea{
  padding: 10px;
}
.button{
  padding: 10px;
  background-color: blue;
  color:white;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.exit{
  fill:black;
  background-color: white;
  border-radius: 50%;
  font-size: 40px;
  position: absolute;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  top:10px;
  right: 10px;
}
@media screen and (max-width:1200px){
  .bg{
    width:75vw;
    min-width: 850px;
    max-height: 350px;
    
  }
  .box_conteiner{
    width:75vw;
    min-width: 850px;
    max-height: 100px;
    
  }
  .form_cont{
    width: 30vw;
    min-width: 320px;
    max-height: 400px;
  }
}
@media screen and (max-width:860px){
  .body{
    position: absolute;
    padding: 10px 0;
  }
  .bg p {
    width: 100%;
    text-align: center;
  }
  .bg, .box_conteiner{
    width:95vw;
    min-width: 370px;
    position: relative;
    height: auto;
    padding: 2%;
    align-items: center;
    align-content: center;
  }
  .box_conteiner{
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100px;
    justify-content: space-around;
    gap: 0;
    padding: 0 10%;
  }
 
  .form_cont{
    width: 95vw;
    min-width: 370px;
    position: relative;
    transform: translate(0);
    position: relative;
    
  }
}
  h5{
    font-size: 35px;
  }
  h5 img{
    width: 35px;
    border-radius: 50%;
  }
  .form_cont button:nth-child(2){
    padding: 10px;
  background-color:#ff00e0;
  color:white;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
  }