
.conteiner{
    background: rgba(50,50,50,0.9);
    position:absolute;
    min-width: 300px;
    width: 60%;
    height: 80%;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
}
.body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    width: 30%;
    height: 100%;
    padding: 20px;
    color:white;
    background-color: black;
    border-radius: 10px 0 0 10px ;
  }
 
  .form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
  }
  .form .input{
    background-color: none;
    background:none;
    width: 90%;
    border: none;
    border-bottom: 1px solid white;
  }
  .exit{
    width: 50px;
    height: 50px;
    position: absolute;
    font-weight: 800;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
  .exit{
    position: absolute;
    top:40px;
    right: 40px;
}
.button{
    width: 50%;
    background-color: aqua;
    border-radius: 5px;
    background: aqua;
    padding: 20px;
    border:none;
}





  @media (max-width:1000px){

    .conteiner{
        flex-direction: column;
        height:auto;
        width: 80vw;
        min-height: 550px;
        
    }
    ul, .form{
        width: 100%;

    }
    ul{
        border-radius: 10px 10px 0 0;
        min-height: 220px;
    }
    .form{
        
        min-height: 330px;
        margin: 0;
    }

}