svg{
  fill:white;
  color: white;
  width: 40px;
  height: 40px;
}
.conteiner{
    background: rgba(50,50,50,0.9);
    position:absolute;
    min-width: 300px;
    width: 60%;
    height: 80%;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
}
.body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    width: 30%;
    height: 100%;
    padding: 20px;
    color:white;
    background-color: black;
    border-radius: 10px 0 0 10px ;
  }
 
  .form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
  }
  .form .input{
    background-color: none;
    background:none;
    width: 90%;
    border: none;
    border-bottom: 1px solid white;
  }
  .exit{
    background-color: none;
    background: none;
    position: absolute;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
  .exit{
    position: absolute;
    top:10px;
    right: 10px;
}
.button{
    width: 50%;
    background-color: aqua;
    border-radius: 5px;
    background: aqua;
    padding: 20px;
    border:none;
}
.load_cont{
  content: '';
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

}
.load{
  position: absolute;
  
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: animate 0.5s linear infinite;
  z-index: 10;
}
.load span{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.load span:nth-child(1){
  filter: blur(5px);
}
.load span:nth-child(2){
  filter: blur(10px);
}
.load span:nth-child(3){
  filter: blur(25px);
}
.load span:nth-child(4){
  filter: blur(50px);
}
.load::after{
  content: '';
  position: absolute;
  top:10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: black;
  border-radius: 50%;
}

.timer{
  position: fixed;
  top:50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  color:white;
  z-index: 11;
}


  @media (max-width:1000px){

    .conteiner{
        flex-direction: column;
        height:auto;
        width: 80vw;
        min-height: 550px;
        
    }
    ul, .form{
        width: 100%;

    }
    ul{
        border-radius: 10px 10px 0 0;
        min-height: 220px;
    }
    .form{
        
        min-height: 330px;
        margin: 0;
    }

}